@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

body {
    line-height: 1;
    color: #333;
}

#wrap {
    max-width: 500px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

button {
    border: 0;
    background-color: transparent;
}

.inner {}

.inner .header_ad {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-color: #F7F7F7;
}

.inner .header_ad .content {
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    width: calc(100% - 32px);

    margin: 0 auto;


}


.inner .header_ad img {
    width: 36px;
}

.inner .header_ad .text {
    color: #7c7c7c;
    text-align: center;
}

.inner .header_ad .text strong {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.inner .header_ad .text p {
    font-size: 12px;
}

.inner .header_ad .download {
    width: 79px;
    height: 29px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 50px;
    background-color: #FF6F0F;
}

.nav_icons {
    display: flex;
    justify-content: space-between;

}

.nav_icons .logo {

    width: 80px;
    padding: 0;

}

.nav_icons .logo a {
    display: block;
}

.nav_icons .logo a img {
    width: 100%;
}

.nav_icons .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px
}

.nav_icons .icons a img {
    width: 25px;
    margin-bottom: 3px;
}

.nav_icons .icons .chat img {}

.nav_icons .icons .my img {
    width: 22px;
    margin: 3px auto;
}



.nav_icons .icons p {
    font-size: 12px;
}

.menu_open {
    width: 24px;
}

.menu_open img {
    width: 100%;
}

.nav {
    display: none;
}

.nav .menu_section {}

.nav .menu_section .menu_close {}

.nav .menu_section .menu_close img {}

.nav .gnb {}

.nav .gnb li {}

.nav .gnb li .menu_name {}

.nav .gnb li .depth-01 {}

.nav .gnb li .depth-01 img {}

.nav .gnb li .depth-02 {}

.nav .gnb li .depth-02.category {}

.nav .gnb li .depth-02 li {}

.nav .gnb li .depth-02 li a {}

.menu_line {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d7d7d771;
    margin-bottom: 36px;
}

.menu_line .location {
    height: 28px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    background-color: #F7F7F7;
    padding: 3px 8px;
}

.menu_line .location .pin_point {
    width: 12px;
}

.menu_line .location p {
    font-size: 14px;
}

.menu_line .location .arrow {
    width: 10px;
}

.search_bar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    padding: 11px 15px;

}


.search_bar .text {

    display: flex;
    align-items: center;
    gap: 25px;
}

.search_bar .text .title {
    display: flex;
    align-items: center;
}

.search_bar .title strong {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.search_bar .text .title img {
    height: 7px;
}


.search_bar p {
    color: #d7d7d7;
    font-size: 14px;
}

.search_bar a {
    width: 28px;
    height: 28px;
    display: block;
    background-color: #333;
    border-radius: 50%;
    padding: 6px;
}

.search_bar a img {
    width: 16px;
}

.search_rank {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    gap: 8px;
    margin-bottom: 20px;
}

.search_rank .btn button {
    width: 24px;
    height: 24px;
    border: 1px solid #7c7c7c;
    border-radius: 50%;
    line-height: 24px;



}

.search_rank .btn button img {
    width: 5px;
    height: 8px;
}

.search_rank .btn .left {
    margin-right: 5px;
}

.search_rank .btn .right {}

.search_rank .text {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 2px;
}

.search_rank .text strong {}

.search_rank .text p {}

.section-01 {}

.section-01 .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;

}

.section-01 .list .item {
    display: flex;
    padding: 18px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46.64%;
    gap: 10px;
    background-color: #F7F7F7;
    border-radius: 10px;
}

.section-01 .list .item img {
    height: 24px;
    object-fit: cover;
}

.section-01 .list .item h3 {
    font-size: 16px;
    font-weight: 500;
}

.section-02 {
    margin-bottom: 80px;
}

.section-02 .title {
    margin: 60px 0 20px;
}

.section-02 .title strong {
    font-size: 18px;

}

.section-02 .title p {
    margin-top: 8cqmin;
    font-size: 14px;
    color: #7c7c7c;
}

.section-02 .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-02 .list .item {
    width: 30.02%;

}

.section-02 .list .item .img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.section-02 .list .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-02 .list .item .text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}

.section-02 .list .item .text .name {
    height: 42px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    margin-bottom: 10px;
}

.section-02 .list .item .text .price {
    margin-bottom: 6px;
    font-size: 16px;
}

.section-02 .list .item .text .location {}

.section-02 .list .item .text .detail {
    color: #7c7c7c;
}

.section-02 .list .item .text .detail.time {}

.section-02 .list .item .text .confirm {
    width: 52px;
    padding: 4px 0;
    text-align: center;
    font-size: 12px;
    border: 1px solid #d7d7d7;
    background-color: #F7F7F7;
    border-radius: 5px;
    color: #4b88fd;

}

.inner {
    font-size: 14px;
}

.inner .footer_nav {
    margin-bottom: 40px;
}

.inner .footer_nav .gnb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.inner .footer_nav .gnb>li {
    width: 47.52%;
    margin-bottom: 50px;

}

.inner .footer_nav .gnb>li .depth-01 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.inner .footer_nav .gnb>li .depth-02 {}

.inner .footer_nav .gnb>li .depth-02 li a {
    font-size: 14px;
    margin-bottom: 8px;
}

.inner .footer_nav .gnb>li .depth-02 li a img {
    margin-left: 5px;
    width: 12px;
}

.inner .logo_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner .logo_section .footer_logo {
    width: 70px;
}

.inner .logo_section .footer_logo a {
    display: block;
}

.inner .logo_section .footer_logo a img {}

.inner .logo_section .sns {
    display: flex;
    gap: 16px;
}

.inner .logo_section .sns a {}

.inner .logo_section .sns a img {
    width: 24px;
}

.inner .info_wrap {
    background-color: #F7F7F7;
    padding: 32px 16px;
    color: #7c7c7c;

}

.inner .info_wrap strong {
    color: #333;
}

.inner .info_wrap .address {
    line-height: 1.3;
    margin: 10px 0 40px;


}

.inner .info_wrap .address ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-break: keep-all;
}


.inner .info_wrap .address ul li {}

.inner .info_wrap .service {}

.inner .info_wrap .service ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
}


.inner .info_wrap .service ul li {}

@media screen and (max-width:365px) {

    .inner .header_ad .content {
        word-break: keep-all;
        font-size: 12px;
        line-height: 1.3;
    }

    .inner .header_ad .text p:nth-child(2) {
        display: none;
    }

    .search_bar {
        font-size: 13px;
        word-break: keep-all;
    }

    .search_bar .text .title {
        display: flex;
        align-items: center;
    }

    .search_rank {
        padding: 5px;
        gap: 2px;
        word-break: keep-all;
        overflow: hidden;

    }

    .search_rank .text:last-child {
        display: none;
    }

    .section-02 .list .item .text .detail {
        word-break: keep-all;
    }
}